/* METHOD 1: LINE NUMBERS
.challenge {
  width: 1000px;
  margin: 30px auto;
  
  display: grid;
  grid-template-rows: 100px 200px 400px 100px;
  grid-template-columns: repeat(3, 1fr) 200px;
  grid-gap: 30px;
  
  & > * {
    background-color: orangered;
    padding: 20px;
    color: white;
    font-size: 30px;
    font-family: sans-serif;   
  }
  
  .header {
    grid-column: 1 / -1;
  }
  
  .sidebar {
    grid-row: 2 / 4;
  }
  
  .main-content {
    grid-row: 3 / 4;
    grid-column: 1 / span 3;
  }
  
  .footer {
    grid-column: 1 / -1;
  }
}
*/

//METHOD 2: LINE NAMES
.challenge {
  width: 1000px;
  margin: 30px auto;
  
  display: grid;
  grid-template-rows: [header-start] 100px [header-end] 200px 400px 100px;
  grid-template-columns: repeat(3, 1fr) 200px;
  grid-gap: 30px;
  
  & > * {
    background-color: orangered;
    padding: 20px;
    color: white;
    font-size: 30px;
    font-family: sans-serif;   
  }
  
  .header {
    grid-column: 1 / -1;
  }
  
  .sidebar {
    grid-row: 2 / 4;
  }
  
  .main-content {
    grid-row: 3 / 4;
    grid-column: 1 / span 3;
  }
  
  .footer {
    grid-column: 1 / -1;
  }
}
